@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gideon+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breakout-project-container{
    font-size: larger;
}

.video-container{
    position: relative;
}

.overlay{
    position: absolute;
    bottom: 50px;
    background-color: rgba(0, 0, 0, 0.199);
    color: aqua;
    font-size: large;
    display: block;
    width: 100%;
}