@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gideon+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: black;
    font-family: "Gideon Roman", serif;
    font-weight: 400;
    font-style: normal;
}

.icons-container{
    position: fixed;
    max-width: fit-content;
    margin-left: auto;
    top: 0;
    right: 0;
    padding: 60px;
    font-size: 50px;
}

.fa-brands.fa-github{
    color: aqua;
}

a:hover .fa-brands.fa-github{
    color: rgba(0, 255, 255, 0.705);
    transform: translateY(-10px);
    transition: 0.3s ease;
}

.fa-brands.fa-linkedin-in{
    color: aqua;
}

a:hover .fa-brands.fa-linkedin-in{
    color: rgba(0, 255, 255, 0.705);
    transform: translateY(-10px);
    transition: 0.3s ease;
}


#header-name{
    top: 0;
    margin-right: auto;
    bottom: 80px;
    font-size: 40px;
    color: aqua;
    background-color: black;
    text-align: center;
    position: relative;
    text-shadow: 3px 5px 10px white;
    margin-top: 2rem;
    
}

.image img{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 5px solid aqua;
    display: block;
    margin: auto;
}

#intro-titles-container{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    color: aqua;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

#education{
    color: aqua;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 5px 10px white;
}


#higher-education{
    width: 30%;
    padding: 30px;
    background: rgba(158, 156, 156, 0.582);
    border-radius: 20px;
    color: aqua;
    text-align: center;
    margin: 20px;
    flex-wrap: wrap;
}

.education-container{
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.work-exp-container{
    color: aqua;
    font-size: 30px;
    text-align: center;
    text-shadow: 3px 5px 10px white;
}

.experience-details{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.experience{
    width: 30%;
    padding: 20px;
    background: rgba(158, 156, 156, 0.582);
    border-radius: 20px;
    color: aqua;
    text-align: center;
    margin: 20px;
    flex-wrap: wrap;
}

.projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tekton-btn:hover{
    display: block;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.gamemaker-btn:hover{
    display: block;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.breakout-btn:hover{
    display: block;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.header{
    font-size: 30px;
    color: aqua;
    text-align: center;
    text-shadow: 3px 5px 10px white;
}

.tekton-project{
    background-color: rgba(0, 0, 0, 0.781);
    border: 1rem;
    margin: 1rem;
}

.project-icons{
   display: flex;
   justify-content: space-between;
   margin-left: 20%;
   margin-right: 20%;
   color: aqua;
}


.project-icons-gamemaker{
   display: flex;
   justify-content: space-between;
   margin-left: 15%;
   margin-right: 15%;
   color: aqua;
}

.clickable-card-reader{
    background-color: rgb(0, 0, 0);
    color: aqua;
    font-size: 25px;
    width: 500px;
    height: 200px;
}


.gamemaker-project{
    background-color: rgb(0, 0, 0);
    border: 1rem;
    margin: 1rem;
}

.breakout-project{
    background-color: rgb(0, 0, 0);
    border: 1rem;
    margin: 1rem;
}

.project-icons-breakout{
    display: flex;
   justify-content: space-between;
   margin-left: 10%;
   margin-right: 10%;
   color: aqua;
}

.technical-experience{
    font-size: 30px;
    color: aqua;
    text-align: center;
    text-shadow: 3px 5px 10px white;
}

.exp{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.html{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.css{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.c-sharp{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.rust{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.gdscript{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.python{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.javascript{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.unity{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.git{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.typescript{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.react{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

.nodejs{
    font-size: 20px;
    color: aqua;
    border: 0.1rem outset white;
    padding: 5px;
    box-shadow: 3px 5px 10px white;
    margin: 5px;
}

#about-me{
    font-size: 20px;
    margin: auto;
    padding: 10px;
    border: 0.2rem outset black;
    background: rgba(158, 156, 156, 0.582);
    border-radius: 20px;
    color: aqua;
}


