@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Gideon+Roman&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.breakout-project-container{
    font-size: x-large;
    color: aqua;
}

.video-container{
    position: relative;
}

.overlay{
    position: absolute;
    bottom: 50px;
    background-color: rgba(146, 146, 146, 0.575);
    color: aqua;
    font-size: large;
    display: block;
    width: 100%;
}

.about-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
}

.about-container p{
    background-color: rgba(160, 160, 160, 0.808);
    height: 250px;
    width: 500px;
    font-size: large;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    padding: 2%;
}

.project-info-container h1{
    display: flex;
    justify-content: center;
    color: aqua;
}

.project-show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-info-container ul{
    background-color: rgba(160, 160, 160, 0.808);
    height: 250px;
    width: 500px;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
}

.back-btn{
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: xx-large;
    background-color: black;
    box-shadow: 3px 5px 10px white;
    border-radius: 13px;
    color: aqua;
    cursor: pointer;
}

.back-btn:hover{
    display: block;
    transform: translateY(-10px);
    transition: 0.3s ease;
}

.implementations-physics-ball p{
    background-color:  rgba(160, 160, 160, 0.808);
    border-radius: 15px;
    font-size: large;
    text-align: center;
    padding: 2%;

}

.implementations-physics-ball h1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: aqua;
}


.what-i-learned h1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: aqua;
}


.what-i-learned p{
     background-color:  rgba(160, 160, 160, 0.808);
     border-radius: 15px;
     font-size: large;
     text-align: center;
     padding: 2%;
}